#portfolio {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#status-banner {
    text-align: center;
}

#title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 70%;
}