<div id="title">
    <h2>My Portfolio</h2>
</div>

<div id="spinner" *ngIf="!doneLoading">
    <mat-spinner diameter="50"></mat-spinner>
</div>

<div id="portfolio" *ngIf="doneLoading">
    <div *ngIf="sortedPortfolio.length == 0 || portfolio.length == 0 || displayBanner" id="status-banner" class="alert alert-warning" role="alert">
        Currently you don't have any stock.
    </div>
    <div *ngFor="let portfolioItem of sortedPortfolio">
        <app-portfolio-item [portfolioItem]="portfolioItem" [attr.id]="'portfolioItem-' + portfolioItem.ticker"
            (sellEvent)="updatePortfolioStatusBanner()">
        </app-portfolio-item>
    </div>
</div>
