<div class="container-fluid">
    <div class="row">
        <div id="title" class="pl-4 py-5 col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
            <h1>My Portfolio</h1>
        </div>
    </div>    
</div>

<div id="spinner" *ngIf="!doneLoading">
    <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="container-fluid">
    <div id="portfolio" class="row justify-content-center" *ngIf="doneLoading">
        <div *ngIf="sortedPortfolio.length == 0 || portfolio.length == 0 || displayBanner" id="status-banner" class="alert alert-warning col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10" role="alert">
            Currently you don't have any stock.
        </div>
        <div *ngFor="let portfolioItem of sortedPortfolio" class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
            <app-portfolio-item [portfolioItem]="portfolioItem" [attr.id]="'portfolioItem-' + portfolioItem.ticker"
                (sellEvent)="updatePortfolioStatusBanner(); updatePortfolioLatestPrices();"
                (purchaseEvent)="updatePortfolioLatestPrices();">
            </app-portfolio-item>
        </div>
    </div>
</div>
