<div id="spinner" *ngIf="!doneLoading || sortedWatchlist === undefined">
    <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="title" *ngIf="doneLoading || sortedWatchlist">
    <h2>My Watchlist</h2>
</div>

<div id="watchlistDiv">
    <!-- Display this banner if watchlist is empty -->
    <div id="banner" *ngIf="sortedWatchlist.length == 0" class="alert alert-warning" role="alert">
        Currently you don't have any stock in your watchlist.
    </div>

    <!-- Display watchlist items-->
    <div *ngFor="let watchlistItem of sortedWatchlist">
        <app-watchlist-item [watchlistItem]="watchlistItem" [attr.id]="'watchlistItem-' + watchlistItem.ticker"></app-watchlist-item>
    </div>

</div>
