#banner {
    text-align: center;
}

.card {
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    width: 100%;
}

#spinner {
    margin-top: 50px;
    width: 100%;
}

#spinner mat-spinner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80%;
}

#watchlist {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

@media screen and (max-width: 600px) {
    #watchlist, #title {
        width: 90%;
    }

    #title {
        margin-bottom: 40px;
    }
}