<div id="spinner" *ngIf="!doneLoading || sortedWatchlist === undefined">
    <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="container-fluid">
    <div class="row">
        <div id="title" class="py-5 col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10" *ngIf="doneLoading || sortedWatchlist">
            <h1>My Watchlist</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="watchlist" class="row justify-content-center">
        <!-- Display this banner if watchlist is empty -->
        <div id="banner" *ngIf="sortedWatchlist.length == 0 || displayBanner" class="alert alert-warning" role="alert">
            Currently you don't have any stock in your watchlist.
        </div>
    
        <!-- Display watchlist items-->
        <div *ngFor="let watchlistItem of sortedWatchlist" class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
            <app-watchlist-item [watchlistItem]="watchlistItem" [attr.id]="'watchlistItem-' + watchlistItem.ticker"
                (removeWatchlistItemEvent)="updateWatchlistBanner()">
            </app-watchlist-item>
        </div>
    
    </div>
</div>
