.card {
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    width: 100%;
}

.title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 70%;
}

#watchlist {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}