.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin-top: 20px;
    padding: 10px;
}

.grid-container div {
    background-color: #FBFAFB;
    border: solid 1px #EFEEEF;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px;
        margin-top: 20px;
        padding: 10px;
    }
}
