#arrowContainer {
    margin-right: 5px;
    margin-top: 30%;
}

/* .card {
    margin-bottom: 20px;
    margin-top: 20px;
} */

.card-body > div {
    padding-left: 0px;
    padding-right: 0px;
}

.data-display div {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.header-contents {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}