<div id="card" class="card">
    <p id="close-icon">
        <button type="button" class="close" aria-label="Close"
            (click)="removeFromWatchlist(watchlistItem.ticker)">
            <span aria-hidden="true">&times;</span>
        </button>
    </p>
    <div class="card-body" routerLink="/details/{{ watchlistItem.ticker }}">
        <div class="flex-container larger">
            <div>
                <div>{{ watchlistItem.ticker }}</div>
            </div>
            <div>
                <div [attr.class]="'change-color-' + watchlistItem.ticker">{{ watchlistItem.last | number : '1.2-2' }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="name">{{ watchlistItem.name }}</div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                <div [attr.class]="'change-color-' + watchlistItem.ticker">
                    <span [attr.id]="'arrowContainer-' + watchlistItem.ticker"></span>{{ watchlistItem.change | number : '1.2-2' }} ({{ watchlistItem.changePercent | number : '1.2-2' }}%)
                </div>
            </div>
        </div>
    </div>
</div>