<div id="card" class="card">
    <div class="card-body flex-container">
        <button type="button" class="close" aria-label="Close"
            (click)="removeFromWatchlist(watchlistItem.ticker)">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="flex-child">
            <div>{{ watchlistItem.ticker }}</div>
            <div>{{ watchlistItem.name }}</div>
        </div>
        <div class="flex-child change-color">
            <div><span id="arrowContainer"></span>{{ watchlistItem.last }}</div>
            <div>{{ watchlistItem.change }} ({{ watchlistItem.changePercent }}%)</div>
        </div>
    </div>
</div>