.card {
    margin-bottom: 15px;
}

.card-body {
    padding-top: 0;
}

#close-icon {
    margin-bottom: 0;
    margin-right: 5px;
    margin-top: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {

    #close-icon {
        height: 20px;
        margin-top: 0px;
    }

    #close-icon button {
        width: 5px;
        height: 5px;
        margin-right: 15px;
    }

    .flex-child {
        flex: none;
    }

    .right {
        text-align: right;
    }

    .flex-container {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .large {
        font-weight: bold;
    }

    .inline-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .inline-row .flex-child {
        width: 50%;
    }
}

.larger {
    font-size: 1.5em;
    font-weight: bolder;
}