button {
    background-color: white;
    border: none;
}

#button-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

mat-tab-group {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#stock-info {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
