<div id="spinner" *ngIf="!doneLoading">
    <mat-spinner diameter="50"></mat-spinner>
</div>
<div id="error-banner" class="alert alert-danger" role="alert"></div>

<app-stock-banner *ngIf="doneLoading && tickerIsValid && companyMeta && stockStatistics" [companyMeta]="companyMeta" [stockStatistics]="stockStatistics"></app-stock-banner>
<div class="container-fluid">
    <div class="row">
        <mat-tab-group
            dynamicHeight mat-stretch-tabs
            *ngIf="doneLoading && tickerIsValid"
            (selectedTabChange)="onTabClick($event)"
            class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <mat-tab label="Summary">
                <app-summary *ngIf="stockStatistics" [companyMeta]="companyMeta" [stockStatistics]="stockStatistics">
                </app-summary>
            </mat-tab>
            <mat-tab label="Top News"><app-news></app-news></mat-tab>
            <ng-template matTabContent>
                <!-- <app-charts *ngIf="loadChart" [historicalData]="historicalData" [ticker]="companyMeta.ticker"></app-charts> -->
                <app-charts *ngIf="loadChart" [ohlc]="ohlc" [volume]="volume" [ticker]="companyMeta.ticker"></app-charts>
            </ng-template>
        </mat-tab-group>
    </div>
</div>