<div id="searchdiv">
<h1>STOCK SEARCH</h1>
<br>
<br>

<form id="searchfield" class="form-control d-flex align-items-center flex-nowrap">
    <input
        matInput
        [formControl]="ticker"
        [matAutocomplete]="auto"
        #searchBox id="search-box" type="text" placeholder="Enter stock name" required
        (input)="search(searchBox.value)"/>
    <button mat-flat-button color="primary" id="searchbutton" routerLink="/details/{{ searchBox.value }}" aria-label="searchbutton">
        <i class="fa fa-search"></i> 
    </button>
</form>

<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngIf="loading" class="loading">
        <mat-spinner diameter="35"></mat-spinner>
    </mat-option>
    <mat-option *ngFor="let autocompletion of autocompletions$ | async; let i=index" [value]="autocompletion.ticker">
        <span><b>{{ autocompletion.ticker }}</b> | {{ autocompletion.name }}</span>
    </mat-option>
</mat-autocomplete>