<table>
    <tr>
        <td *ngIf="companyMeta" id="ticker-cell" class="left-cell">{{ companyMeta.ticker }}</td>
        <td *ngIf="stockStatistics" id="lastPrice-cell" class="right-cell">{{ stockStatistics.last }}</td>
    </tr>
    <tr>
        <td *ngIf="companyMeta" id="companyName" class="left-cell">{{ companyMeta.name }}</td>
        <td *ngIf="stockStatistics" id="changeStats" class="right-cell"><span id="arrow-container"></span>{{ stockStatistics.change }} ({{ stockStatistics.changePercent }}%)</td>
    </tr>
    <tr>
        <td  *ngIf="companyMeta" id="exchange" class="left-cell">{{ companyMeta.exchangeCode }}</td>
        <td *ngIf="stockStatistics" id="timestamp" class="right-cell">{{ stockStatistics.timestamp }}</td>
    </tr>
    <tr>
        <app-buy-modal *ngIf="companyMeta && stockStatistics" [companyMeta]="companyMeta" [stockStatistics]="stockStatistics"></app-buy-modal>
    </tr>
</table>
<p id="market-status-container"><span id="market-status"></span></p>
