#buy-banner {
    display: none;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    width: 80%;
}

#companyName {
    color: #7D6F71;
    font-size: 1.5em;
    font-style: bold;
}

#exchange, #timestamp {
    color: #7D6F71;
    font-size: 0.8em;
}

#lastPrice-cell, #ticker-cell {
    font-size: 2em;
    font-style: bold;
}

.left-cell {
    margin-left: 1em;
    text-align: left;
}

#market-status-container {
    text-align: center;
}

.right-cell {
    margin-right: 1em;
    text-align: right;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}