<table>
    <tr>
        <td class="left-cell">{{ companyMeta.ticker }}</td>
        <td class="right-cell">{{ stockStatistics.last }}</td>
    </tr>
    <tr>
        <td class="left-cell">{{ companyMeta.name }}</td>
        <td class="right-cell">{{ stockStatistics.change }} ({{ stockStatistics.changePercent }}%)</td>
    </tr>
    <tr>
        <td class="left-cell">{{ companyMeta.exchangeCode }}</td>
        <td class="right-cell">{{ stockStatistics.timestamp }}</td>
    </tr>
    <tr>
        <td class="left-cell"><button class="btn btn-success">Buy</button></td>
    </tr>
</table>
<p id="market-status">Market is Open</p>