.align-super {
    vertical-align: super;
}

#arrowContainer {
    margin-right: 5px;
    vertical-align: middle;
}

#buy-banner, #watchlist-add-banner, #watchlist-remove-banner {
    display: none;
    /* margin-bottom: 20px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10px; */
    text-align: center;
    width: 80%;
}

#changeStats {
    font-size: 1.7em!important;
    font-style: bold!important;
}

#companyName {
    font-size: 1.5em;
    font-style: bold;
}

#exchange, #timestamp {
    color: #7D6F71;
    font-size: 0.8em;
}

#lastPrice-cell, #ticker-cell {
    font-size: 2em;
    font-style: bolder;
}

#market-status-container {
    font-size: 12px;
    margin-top: 10px;
}

#starContainer {
    background-color: transparent;
    border: none;
    outline: none;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}