#currentPrice {
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.input-group {
    margin-bottom: 10px;
    margin-top: -10px;
}

.modal-body {
    padding-bottom: 0px;
}

#modal-buy-button {
    margin-bottom: auto;
    margin-left: auto;
    margin-top: auto;
}
#numShares input {
    margin-left: 15px;
}

#numShares label {
    margin-bottom: auto;
    margin-top: auto;
}

#price-quantity {
    margin-left: 10px;
}

#total {
    margin-bottom: auto;
    margin-top: auto;
}