<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand mr-auto" href="" style="color:white;">Stock Search</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills ml-auto">
          <li class="nav-item" id="search-route">
              <a routerLink="/" id="search-link" href="/" class="nav-link" data-toggle="pill">Search </a>
          </li>
          <li class="nav-item" id="watchlist-route">
              <a routerLink="/watchlist" id="watchlist-link" href="/watchlist" class="nav-link" data-toggle="pill">Watchlist </a>
          </li>
          <li class="nav-item active" id="portfolio-route">
              <a routerLink="/portfolio" id="portfolio-link" href="/portfolio" class="nav-link" data-toggle="pill">Portfolio </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <span>Powered by Tiingo. Developed by Justin Ho.</span>
    </footer>
  </body>
</html>