<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand mr-auto" href="" style="color:white;">Stock Search</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto nav-pills" role="tablist" style="color:white;">
          <li class="nav-item active" data-toggle="pill">
            <a routerLink="/" class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item " data-toggle="pill">
            <a routerLink="/watchlist" class="nav-link" href="#">Watchlist <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item " data-toggle="pill">
            <a routerLink="/portfolio" class="nav-link" href="#">Portfolio <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer class="footer">
      <span>Powered by Tiingo. Developed by Justin Ho.</span>
    </footer>
  </body>
</html>