<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <a class="navbar-brand mr-auto" routerLink="/" href="" style="color:white;">Stock Search</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills navbar-nav ml-auto">
          <li class="nav-item" id="search-route" data-toggle="collapse" data-target=".navbar-collapse">
              <a routerLink="/" id="search-link" href="/" class="nav-link" data-toggle="pill">&nbsp;&nbsp;Search&nbsp;&nbsp;</a>
          </li>
          <li class="nav-item" id="watchlist-route" data-toggle="collapse" data-target=".navbar-collapse">
              <a routerLink="/watchlist" id="watchlist-link" href="/watchlist" class="nav-link" data-toggle="pill">&nbsp;&nbsp;Watchlist&nbsp;&nbsp;</a>
          </li>
          <li class="nav-item" id="portfolio-route" data-toggle="collapse" data-target=".navbar-collapse">
              <a routerLink="/portfolio" id="portfolio-link" href="/portfolio" class="nav-link" data-toggle="pill">&nbsp;&nbsp;Portfolio&nbsp;&nbsp;</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <span>Powered by Tiingo. Developed by Justin Ho.</span>
    </footer>
  </body>
</html>