li .active {
    background-color: transparent!important;
    border: solid 2px white;
    border-radius: 15px;
    color: white!important;
}

body {
    display: flex;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    padding-top: 70px;
}

footer {
    background-color: #F8F6F8;
    flex-shrink: 0;
    height: 3em;
    line-height: 3em;
    text-align: center;
    width: 100%;
}

.navbar {
    background-color: #6E40F4;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav-item {
    text-align: right;
}

.nav-item a {
    color: #A682FF;
}

.nav-link {
    color: #A682FF;
}

ul li a:hover {
    color: white;
}

#searchdiv {
    padding-top: 5%;
    text-align: center;
}

#searchdiv > h1 {
    font-size: 72px;
    font-weight: bold;
}

#searchfield {
    border-color: #5E42C1;
    border-width: 2px;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    width: 10%;
}

#searchfield > input {
    margin-top: auto;
    margin-bottom: auto;
}
