<ng-template #content let-modal>
    <div class="modal-header" *ngIf="newsItem">
        <div class="flex-container">
            <h2 class="modal-title" id="news-item-modal-title">{{ newsItem.source.name }}</h2>
            <button id="close-button" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h5 id="publishedAt" class="modal-title">{{ newsItem.publishedAt }}</h5>
    </div>
    <ng-container *ngIf="newsItem">
        <div class="modal-body">
            <p id="news-title"><b>{{ newsItem.title }}</b></p>
            <p id="news-description">{{ newsItem.description }}</p>
            <p><span style="color:gray;">For more details click </span><a href="{{ newsItem.url }}" target="_blank">here</a></p>
            <div id="share-div">
                <p>Share</p>
                <div id="socials">
                    <a href="{{ constructTwitterUrl() }}" class="twitter-share-button" target="_blank">
                        <i class="fa fa-twitter fa-3x icon"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fusc.edu%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                        <i class="fa fa-facebook-square fa-3x icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>

<button class="text-left" (click)="open(content)">
    <div class="container flex-container-news-item grid-container">
        <div class="flex-child img-container">
            <img src="{{ newsItem.urlToImage }}" />
        </div>
        <div class="flex-child news-container">
            {{ newsItem.title }}
        </div>
    </div>
</button>