<ng-template #content let-modal let-quantity>
    <div class="modal-header" *ngIf="companyMeta">
        <p class="modal-title" id="buy-modal-title">{{ companyMeta.ticker }}</p>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <ng-container *ngIf="stockStatistics">
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <div id="price-quantity">
                        <div>
                            <p id="currentPrice">Current Price: {{ stockStatistics.last | number : '1.2-2' }}</p>
                        </div>
                        <div id="numShares" class="form-group input-group row">
                            <label for="quantity" class="col-sm-2">Quantity  </label> 
                            <input #quantity id="quantity" type="number" class="form-control col-sm-6" placeholder="0" min="0" ngbAutofocus
                                onkeydown="return event.keyCode !== 190"
                                (input)="updateTotal(quantity.value)">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="flex-container">
                <div id="total">Total: {{ total | number : '1.2-2' }}</div>
                <div id="modal-buy-button">
                    <button [disabled]="total == 0" type="button" class="btn btn-success" (click)="buy(companyMeta.ticker, quantity.value);displayBuyBanner();modal.close('Buy click')">Buy</button>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>

<button class="btn btn-success" (click)="open(content)" style="margin-top:5px;">Buy</button>
